body {
  background-color: black;
  font-family: "Arial", sans-serif,'SpaceGrotesk-Medium',;
  font-size: 16px;
  color: #333;
}

.user-greeting-wrapper {
  position: fixed;
  top: 15px;
  right: 30px;
  background: transparent;
  z-index: 1000;
}

.user-greeting {
  font-size: 20px;
  color: white;
  cursor: pointer;
  font-family: 'SpaceGrotesk-Medium';
}

.user-popup {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #111;
  color: white;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  z-index: 1000;
  min-width: 200px;
}

.arrow{
  font-size: 10px;
}

.tutorial-button{
  position: fixed;
  left: 20px;
  bottom: 30px;
  background-color: black;
  color: white;
  border-radius: 50px;
}

.tutorial-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #111;
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.4);
  z-index: 1001;
  max-width: 100%;
  max-height: 80%;
  overflow-y: auto;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  
}

.h4{
  font-size: 150px;
}

.tutorial-content {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 12px;
  max-width: 100%;
  max-height: 90%;
  overflow-y: auto;
  text-align: center;
}

.tutorial-content img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.search-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10;
}

.logo {
  font-size: 70px;
  text-align: center;
  color: white;
  font-family: 'SpaceGrotesk-Bold';

}

.result-screen-logo-button{
  position: fixed;
  font-family: 'SpaceGrotesk-Bold';
  font-size: 45px;
  top: 20px;
  left: 20px;
  width: 350px;
  cursor: pointer;
  z-index: 100;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
  z-index: 10;
}

.search-box {
  position: relative;
  width: 500px;
  padding: 12px 20px;
  border: 2px solid #1DB954;
  border-radius: 30px;
  font-size: 16px;
  background-color: #111111;
  color: #c9d1d9;
  transition: border-color 0.3s, box-shadow 0.3s;
  z-index: 10;
}

.search-box:focus {
  position: relative;
  border-color: #1ed760;
  outline: none;
  box-shadow: 0 0 6px #1db95490;
  z-index: 10;
}

.search-button {
  position: relative;
  padding: 12px 24px;
  background-color: #1DB954;
  color: black;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.2s;
  z-index: 10;
  font-family: 'SpaceGrotesk-Medium';
}

.search-button:hover {
  position: relative;
  background-color: #1ed760;
  transform: scale(1.05);
  z-index: 10;
}

.spinner-container,
.loading-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.custom-spinner>span {
  color: #ffffff;
  width: 10px !important;
  height: 50px !important;
}

.loading-txt {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'SpaceGrotesk-Medium';
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.result-screen {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: -5vh;
  box-sizing: border-box;
}

.h2{
  position: relative;
  z-index: 20;
  margin-top: 13vh;
  font-family: 'SpaceGrotesk-Medium';
  font-size: 30px;
}

.h3{
  position: relative;
  z-index: 20;
  margin-top: 10vh;
  font-family: 'SpaceGrotesk-Medium';
  font-size: 30px;
}
/* 여기서 부터 추출된 노래 */
.E-song-container-wrapper {
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: 60px auto 0 auto;
}

.E-song-container {
  width: 100%;
  max-height: 450px;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #222;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #444;
  box-sizing: border-box;
}


.E-song-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.E-song-container::-webkit-scrollbar {
  height: 8px;
}

.E-song-container::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

.E-song-container::-webkit-scrollbar-track {
  background: #222;
}

.E-song-card {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #333;
  color: white;
  border-radius: 10px;
  padding: 15px 20px;
  width: 96%;
  height: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  font-family: 'SpaceGrotesk-Medium';
  justify-content: flex-start;
  text-align: left;
}


.E-song-card:hover {
  transform: scale(1.02);
}

.E-song-card.selected {
  border: 2px;
  background-color: #2a2a2a;
}


.E-song-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.E-song-title {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 16px;
  font-weight: normal;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.E-song-artist {
  font-size: 14px;
  color: #bbb;
  margin-top: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}


/* 여기서 부터 매칭된 노래 */
.M-song-container-wrapper {
  position: relative;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.M-song-container {
  width: 100%;
  height: auto;
  min-height: 310px;
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #222;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #444;
  box-sizing: border-box;
  white-space: nowrap;

}

.M-song-list {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  height: 100%;
}

.M-song-container::-webkit-scrollbar {
  height: 8px;
}

.M-song-container::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

.M-song-container::-webkit-scrollbar-track {
  background: #222;
}

.M-song-card {
  position: relative;
  background-color: #333;
  color: white;
  border-radius: 10px;
  padding: 15px;
  width: 180px;          
  min-height: 180px;      
  height: auto;           
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  flex: 0 0 auto;
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'SpaceGrotesk-Medium';
  
  
}

.M-song-card:hover {
  transform: scale(1.05);
}

.M-song-title {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 16px;
  font-weight: normal;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.M-song-artist {
  font-size: 14px;
  color: #bbb;
  margin-top: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.song-checkbox {
  transform: scale(1.3);
  margin-right: 16px;
}


.button-row {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.select-all-button {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 10;
  padding: 6px 12px;
  background-color: #1db954;
  color: black;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  font-family: 'SpaceGrotesk-Medium';
  transition: background-color 0.3s, transform 0.2s;
}


.select-all-button:hover {
  background-color: #1ed760;
  transform: scale(1.05);
}

.login-button {
  position: fixed;
  top: 35px;
  right: 30px;
  z-index: 1000;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #1DB954;
  color: black;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
  font-family: 'SpaceGrotesk-Medium';
}

.login-button:hover {
  background-color: #1ed760;
  transform: scale(1.05);
}

.logout-button, .change-account-button {
  padding: 6px 12px;
  font-size: 12px;
  background-color: #1DB954;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 8px;
  margin-right: 5px;
  font-family: 'SpaceGrotesk-Medium';
  transition: background-color 0.3s, transform 0.2s;
}

.logout-button:hover, .change-account-button:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

.user-info {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background-color: #eee;
  padding: 8px;
  border-radius: 4px;
  font-family: 'SpaceGrotesk-Medium';
}

.match-success {
  color: green;
  font-size: 14px;
}

.match-fail {
  color: red;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.match-details {
  font-size: 13px;
  color: #444;
}

.match-item {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.match-list {
  list-style: none;
  padding: 0;
}

.match-info {
  display: flex;
  flex-direction: column;
}

.album-cover {
  width: 120px;     
  height: 120px;    
  object-fit: cover; 
  border-radius: 8px; 
  margin-bottom: 8px; 
}

.create-playlist-button {
  margin-top: 20px;
  padding: 10px 16px;
  font-size: 20px;
  background-color: #1db954;
  color: #191414;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'SpaceGrotesk-Medium';
}

.create-playlist-button:hover {
  background-color: #218838;
  transform: scale(1.05);
}

.button-row button {
  padding: 12px 20px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  min-width: 150px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.save-button {
  background-color: #1db954;
  color: #191414;
  z-index: 20;
  font-family: 'SpaceGrotesk-Medium';
  transition: background-color 0.3s, transform 0.2s;
}

.save-button:hover {
  background-color: #1ed760;
  transform: scale(1.05);
}

/* .floating-home-button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  padding: 8px 14px;
  font-size: 14px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 8px;
  z-index: 999;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.floating-home-button:hover {
  background-color: #5a6268;
} */

.center-panel {
  width: 100%;
  max-width: 1000px;
  padding: 0px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.match-scroll-box {
  max-height: 400px;
  overflow-y: auto;
  background-color: #111;
  border: 1px solid #444;
  padding: 10px 15px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 800px;
}

.match-scroll-box::-webkit-scrollbar {
  width: 8px;
}

.match-scroll-box::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

.match-scroll-box::-webkit-scrollbar-track {
  background: #222;
}

.match-results {
  position: relative;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

button {
  cursor: pointer;
}

@media(max-width:768px){
  .logo{
    font-size: 35px;
  }
  .search-wrapper{
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
  }
  .search-box{
    width: 62vw;
    font-size: 14px;
  }
  .search-button{
    font-size: 15px;
    padding: 10px 16px;

  }
  .result-screen-logo-button{
    width: 45%;
    max-width: 50%;
    font-size: 20px;
    left: -50px;
  }

  .h2{
    margin-top: 150px;
    font-size: 30px;
  }

  .E-song-container-wrapper {
    position: relative;
    width: 90%;
    max-width: 1000px;
    margin: 0px auto 0 auto;
  }

  .E-song-container {
    margin-top: 40px;
    height: 400px; /* 세로 공간 늘리기 */
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  .E-song-list {
    display: flex;
    flex-direction: column; /* 세로로 배치 */
    gap: 15px;
  }
  
  .E-song-card {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #333;
    color: white;
    border-radius: 10px;
    padding: 15px 20px;
    width: 94.6%;
    height: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
    font-family: 'SpaceGrotesk-Medium';
    justify-content: flex-start;
    text-align: left;
  }
  
  .E-song-card:hover {
    transform: scale(1.02);
  }
  
  .E-song-card.selected {
    border: 2px;
    background-color: #2a2a2a;
  }
  .M-song-container {
    margin-top: 40px;
    height: 250px;
    max-height: 400px;
    overflow-y: hidden;
    overflow-x: auto;
  }

  .M-song-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    grid-auto-flow: column;
  }

}